<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
            {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
    </li>
    {% endfor %}
</ul>
{% else %}
{{order}}
<hr style="opacity:0">

<form name="myForm" action="." method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
    {% csrf_token %}
    <label for="file_id"> Upload a file</label>
    <input type="file" id="file_id" name="file">
    <small>Only accepts CSV files</small>
    <button type="submit">Upload</button>
</form>

<script>
    function validateForm() {
        var filename = document.forms["myForm"]["file"].value;
        var ext = filename.split(".").pop();
         if (filename == "") {
            alert("Name must be filled out");
            return false;
        }
        else if (ext != "csv") {
            alert("File must be csv");
            return false;
        }

    }
</script>

{% endif %}
</body>
</html>